# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Dedalus outputs / data
snapshots*/
analysis*/
checkpoints/
*.h5
*.hdf5
*.nc
*.dat

# macOS
.DS_Store

# Local data / figures / movies
*.mat
*.fig
*.npz
*.mp4

# Slurm / logs / temp
slurm-*.out
*.log
*.out
*.err
*.tmp

# Local run folders
Re40_*/
Re40_caseA/
Re40_caseB/
Re40_mpitest_t20/